.container {
    border: 5px solid rgb(0, 0, 0);
    border-radius: 10px;
    width: 400px;
    height: auto;
    margin-top: 25px;
    margin-bottom: 150px;
    margin-left: 25px;
    background-color: rgba(111, 110, 110, 0.414);

}

.imgContainer {
    text-align: center;
    background-color: rgba(234, 231, 231, 0.458);
    border-bottom: 1px solid #000;

}

.userImg {
    background-color: rgb(0, 0, 0);
    border: 1px solid #000;
    border-radius: 50%;
    margin-top: 15px;
    height: calc(100%-60%);
}

.userName {
    font-size: 25px;
    font-weight: 700;

}

.userTag {
    color: #585656;
    font-size: 17px;
    font-weight: 400;
}

.userLocation {
    font-size: 17px;
    font-weight: 400;
    color: #585656;
}

.userStat {
    display: flex;
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    justify-content: space-between;
}

.statItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
}

.userStatInfo {
    font-size: 20px;
    font-weight: 400;
}

.statInfoNum {
    font-size: 20px;
    font-weight: 700;
}